Package: mx-docs
Version: 20230701
Architecture: all
Maintainer: Dolphin Oracle <dolphinoracle@gmail.com>
Installed-Size: 132005
Conflicts: desktop-defaults-xfce-mx, docs-mx, mx-desktop-defaults
Replaces: docs-mx
Section: doc
Priority: optional
Homepage: http://antix.mepis.org
Description: user manual for MX
 This is the PDF user manual included with MX
